/* Variables Globales*/
 
$oscuro: #111913;
$resalto: #A03B38;
$gris: #8E9290;
$claro: #EEEEEE;
$fuente: 'Syne', sans-serif;


/* Estilo del Menu | Nav*/

.navbar {
    background-color: $oscuro !important;
    font-family: $fuente !important;
}

.navbar {
    &-dark &-nav {
        color: $gris !important;
    }
    &-brand {
        font-family: $fuente !important;
        color: $gris;
    }
}

.nav {
    &-link {
        color: $gris !important;
    }
    &-link:hover {
        color: $resalto !important;
    }
}

#navbarNav {
    justify-content: right;
    align-items: center;       
}

/* Estilo de las Cartas | Card*/

.card {
    background-color: $oscuro;
    &-body {
        color: $gris;
    }
    &-title {
        color: $gris;
        font: $fuente;
    }
}

/* Botones | Buttons*/

.btn {
    color: $resalto;
    &:hover {
        color: $gris;
    }
}

/* Titulos | Display headings */

h {
    &1 {
        font: {
            family: $fuente;
        }
        color: $resalto;
    }
    &2 {
        font: {
            family: $fuente;
        }
        color: $gris;
    }
}